<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LocalizedStringsKey</key>
	<dict>
		<key>productDescription</key>
		<string>Client 1 Product Description</string>
		<key>copywriteCompany</key>
		<string>Copywrite @ Client 1 Company</string>
	</dict>
	<key>productDescription</key>
	<string>Client 1 Product Description</string>
	<key>copywriteCompany</key>
	<string>Copywrite @ Client 1 Company</string>
	<key>acknowledgements</key>
	<string>Special acknowledgements to Client 1 contributers</string>
</dict>
</plist>
